.profile-container{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
width: 85%;
height: 100vh;
}

.profile-content{
   max-width: 400px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 40px;
    margin: 10px;
}

.userAvator {
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
}
.user-Details {
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;

    
}

.userAvator-img {
    width: 20%;
    height: 30%;
    border-radius: 50%;
    object-fit: cover;    
}
.userAvator-img:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
}
.profile {
    display: flex;
   justify-content: center;
    align-items: center;
}

.user-Details > p {
    font-size: 1.2rem;
    font-weight: 400;
    color: lightgoldenrodyellow;
    padding-left: 20px;
}
